.box {
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
  justify-content: center;
  margin-top: 32px;
}
.gold {
  color: #fbbf24;
  font-size: 22px;
}
.status {
  color: #0284c7;
}
@media screen and (min-width: 768px) {
  .image-mobile {
    display: none;
  }
  .boxContainer {
    width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: column;
    left: 150px;
    top: 153px;
    justify-content: space-between;

    background: white;
    /* Light / Shadow / base */

    box-shadow: 0px 8px 40px rgba(12, 12, 12, 0.61);
    border-radius: 16px;
    padding: 50px;
  }

  .picAndTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 18px;
    padding: 15px;
  }
  .authorHeading {
    left: 14.86%;
    right: 74.24%;
    top: 50.45%;
    bottom: 46.64%;

    font-family: roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  .titlesBox {
    padding-left: 15px;
    text-align: left;
  }

  .titleHeading {
    color: #334155;

    font-family: roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;

    margin-top: 10px;
    margin-bottom: 10px;
  }
  .author {
    color: #475569;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;

    margin-bottom: 10px;
  }
  .image {
    width: 235px;
    height: 274px;
    left: 427px;
    top: 217px;

    border-radius: 14.1309px;
  }
}

@media screen and (max-width: 767px) {
  .product-image {
    width: 150px;
    height: 120px;
    border-radius: 16px;
  }
  .boxContainer {
    text-align: center;
  }
  .image {
    display: none;
  }
  .image-mobile {
    margin-top: 25px;
    width: 235px;
    height: 274px;
    left: 62px;
    top: 80px;

    border-radius: 12px;
  }
}
