.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  width: 100%;
  padding: 50px;
}

.register-prime-image {
  margin-top: 30px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.sliderBox {
  width: 90%;
  max-width: 1200px;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .home-container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 96px;
  }
  .failureBox {
    margin-top: 25px;
    background-color: white;
    width: 60%;
    box-shadow: 0px 8px 40px rgba(204, 200, 200, 0.61);
    padding: 64px 48px 64px 48px;
    align-self: center;
    border-radius: 18px;
    padding: 18px;
    text-align: center;
  }
  .fail {
    font-size: 22px;
    color: #1e293b;
    font-weight: 500;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-content {
    align-items: flex-start;
  }
}

.home-mobile-img {
  width: 206px;
}

@media screen and (min-width: 768px) {
  .home-mobile-img {
    display: none;
  }
}

.home-desktop-img {
  width: 50%;
  max-width: 450px;
  margin-left: 85px;
}

@media screen and (max-width: 767px) {
  .home-desktop-img {
    display: none;
  }

  .failImg {
    width: 15px;
    height: 20px;
  }

  .failureBox {
    background-color: white;
    width: 60%;

    align-self: center;
    border-radius: 18px;
    padding: 18px;
    text-align: center;
  }
  .fail {
    font-size: 122px;
    color: #1e293b;
    font-weight: 500;
  }
}

.home-heading {
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 0px;
  font-size: 36px;
  color: #1e293b;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bookName {
    font-size: 24px;
    text-align: center;
  }
}

.home-description {
  font-family: 'Roboto';
  margin-top: 36px;
  font-size: 14px;
  line-height: 28px;
  color: #64748b;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 18px;
    margin-top: 0;
    text-align: left;
  }
  .mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .shop-now-button {
    width: 150px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .home-mobile-content {
    background-color: #e5e5e5;
    width: 100vw;
    padding: 55px;
  }

  .web {
    display: none;
  }
  .home-description {
    font-size: 20px;
  }
}
