.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 8x;
}

.slick-container {
  width: 90%;
  max-width: 900px;
  margin-top: 10px;
}

.logo-image {
  height: 125px;
  width: 110px;
}

@media screen and (min-width: 375px) and (max-width: 479px) {
  .logo-image {
    height: 160px;
    width: 127px;
  }
}

@media screen and (min-width: 990px) {
  .logo-image {
    height: 170px;
    width: 180px;
  }
}

@media screen and (max-width: 376px) {
  .logo-image {
    height: 120px;
    width: 115px;
  }
}

@media screen and (width: 768px) {
  .logo-image {
    height: 115px;
    width: 125px;
  }
  .top-rated-book-heading {
    width: 125px;
    text-align: center;
  }
  .top-rated-book-author {
    text-align: center;
    font-size: 15px;
    width: 125px;
  }
}

@media screen and (min-width: 480px) and (max-width: 766px) {
  .logo-image {
    height: 115px;
    width: 125px;
    font-size: 15px;
  }
  .top-rated-book-heading {
    width: 125px;
    text-align: center;
  }
  .top-rated-book-author {
    text-align: center;
    font-size: 15px;
    width: 125px;
  }
}

@media screen and (min-width: 770px) and (max-width: 3000px) {
  .top-rated-book-heading {
    font-family: 'Roboto';
    font-size: 15px;
    color: #334155;
    font-weight: 600;
    text-align: center;
  }
  .top-rated-book-author {
    font-family: 'Roboto';
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    color: #475569;
  }
}

.top-rated-book-heading {
  font-family: 'Roboto';
  font-size: 15px;
  color: #334155;
  font-weight: 600;
  text-align: center;
}
.top-rated-book-author {
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  color: #475569;
}

@media screen and (max-width: 767px) {
  .top-rated-book-heading {
    font-family: 'Roboto';
    font-size: 10px;
    width: 115px;
    color: #334155;
    font-weight: 600;
    text-align: center;
  }
  .top-rated-book-author {
    width: 115px;
    font-family: 'Roboto';
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    color: #475569;
  }
}

@media screen and (max-width: 330px) {
  .top-rated-book-heading {
    font-family: 'Roboto';
    font-size: 10px;
    width: 115px;
    color: #334155;
    font-weight: 600;
    text-align: center;
  }
  .top-rated-book-author {
    width: 115px;
    font-family: 'Roboto';
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    color: #475569;
  }
}

/* You can change the CSS color to style the Next and 
Previous Arrow buttons according to your project */

.slick-prev:before,
.slick-next:before {
  color: black;
}
.home-book-list {
  list-style-type: none;
}

.home-link-item {
  text-decoration: none;
  color: black;
}
